<%- include("partials/header.ejs") %>
<div class="about">
    <div class="about-content">
        <h2>
            SFI Aliah University Local Committee:
        </h2>
        <h3> 
            President: Kiron Anjar <br>
            Secretary: Miladun Nabi 
        </h3>

    </div>
    <div class="about-content">
        <h2>
            SFI Technology & Management Unit:
        <h3> 
            President: Arian Sarkar
        </h2><br><h3>
        Secretary: Sunirnay Chatterjee        </h3>

    </div>
    <div class="about-content">
        <h2>
            SFI Aliah University Science unit:
        </h2>
        <h3> 
            President Tuhina Parvin
            <br>
            Secratary: Wahid        </h3>

    </div>
</div>
<%- include("partials/footer.ejs") %>
