<form action="/addevent" method="POST" enctype="multipart/form-data">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />
    </div>
   
    <div>
      <label for="EventContent">Event Content:</label>
      <textarea id="EventContent" name="EventContent" rows="4" cols="50"></textarea>
    </div>
  
    <div>
      <label for="eventImage">Event Image:</label>
      <input type="file" id="eventImage" name="eventImage" accept="image/*" />
    </div>
  
    <div>
      <input type="submit" value="Add" />
    </div>
</form>
