this is add notification page tab

<form action="/addnotification" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" required />
  </div>
  <!-- <div>
            <label for="content">Content </label>
            <input type="texta" id="content" name="content" required>
        </div> -->
  <div>
    <label for="content">Content:</label>

    <textarea id="content" name="content" rows="40" cols="100"></textarea>
  </div>
  <div>
    <input type="submit" value="add" />
  </div>
</form>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam ipsam accusantium modi cum tempore dolore, commodi culpa iste minus a nulla eveniet aliquid error facilis odio velit. Aperiam et nam consectetur minima, provident quas consequatur facilis culpa corporis aliquam eum, voluptate laudantium. Quibusdam necessitatibus vitae incidunt odio, ad laborum in sed esse odit soluta, at corrupti quidem amet natus neque ducimus unde maxime non facere culpa. Corrupti, aperiam delectus non voluptatem ipsum ad accusamus blanditiis. Veniam aliquid, maxime tempore vero ex rem quas et sit recusandae ullam provident ut debitis reiciendis aperiam nobis autem repudiandae excepturi! Omnis, aspernatur animi! Fuga!