
<form action="/addnotification" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" required />
  </div>
  <!-- <div>
            <label for="content">Content </label>
            <input type="texta" id="content" name="content" required>
        </div> -->
  <div>
    <label for="content">Content:</label>

    <textarea id="content" name="content" rows="40" cols="100"></textarea>
  </div>
  <div>
    <input type="submit" value="add" />
  </div>
</form>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia aut consequatur reprehenderit dolores incidunt libero nemo animi non maxime repellendus ad pariatur recusandae quidem, id repellat, ut, soluta molestiae perferendis repudiandae commodi velit dolor in nobis culpa? Soluta, quae! Autem, voluptate tenetur. Doloribus consequatur numquam nesciunt. Illum, perspiciatis facere temporibus cupiditate assumenda quisquam sequi perferendis tenetur eum quas enim quasi quia nihil sit iusto natus in adipisci recusandae nesciunt soluta numquam magnam. Quae possimus perspiciatis nobis animi corrupti quo expedita laborum ullam doloribus illum doloremque voluptatem non magnam distinctio alias odio vero ratione atque odit labore perferendis, accusamus iure porro! Cupiditate, ratione necessitatibus accusantium omnis sed voluptate quam facilis minus sit, beatae repellat asperiores ullam consequatur culpa fugiat fugit et quo laboriosam placeat officiis! Alias tempore quas quod facere quos magni aliquam corrupti autem quibusdam nisi quae commodi culpa libero praesentium, explicabo dignissimos? Architecto hic, ex excepturi explicabo consequatur aliquid, aliquam sint odit soluta deserunt facilis eius maiores adipisci reprehenderit porro doloribus beatae minima delectus ab rerum culpa itaque iusto corporis illum? Dolores ipsam necessitatibus quisquam voluptatibus quo cum vitae delectus est culpa quis molestias illo, aliquam corrupti, deserunt ipsum, quia harum. Nulla voluptate accusamus nihil? Temporibus vero mollitia illo est culpa ad sapiente dolores corrupti eius minus libero, nam alias accusantium esse. Inventore quaerat alias, eveniet repellat minima cum repellendus praesentium, quia cupiditate, iste magni quod architecto ipsam maxime officia amet! Tenetur esse exercitationem, adipisci ad sed illo eveniet laudantium ipsam minima culpa animi, voluptatem facilis officiis. Omnis explicabo deserunt reprehenderit sunt tenetur quas aperiam debitis quod voluptate accusamus deleniti animi culpa, repellendus iure adipisci quae ipsam facere rem saepe, repellat, quis facilis id? Provident dolorem excepturi consequuntur, nobis corporis eum, quae natus ratione voluptates vel doloremque explicabo quisquam? Debitis quasi blanditiis commodi, amet veritatis esse rerum nisi sed!