<%- include("partials/header.ejs") %>
<div class="container">
    <div class="donate-container" style="background-image: url('/images/sfi-aliah-log.jpg');">
        <h1 class="m-auto"> "Education is the most powerful weapon which you can use to change the world." – Nelson Mandela </h1>
        <div class="qr-image"></div> 
        <div class="donate-form">
            <% if (!qrImage) { %>
                <h2>Fill the form to Donate</h2>
    
            <form action="/donate" method="POST">
                <% if (error_message) { %>
          
                    <div class="error_message"> 
                        <p> <%= error_message %></p>  
                    </div>
                <% }  %>
                    
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="number" name="amount" placeholder="Amount" required>
                    
                    <p>Are you Not a member? <a href="/joinUs">Sign Up</a></p>
                <button type="submit">Donate</button>
            </form>
           
            <% }else{ %>
                <h2>Scan the QR to pay</h2>
    
                <img src=<%=qrImage%> alt="qr image for payment">
                <form class="qr-form" action="/donate/thanks-donate" method="get">
                    <button type="submit" >Done</button>
    
                </form>
            <% } %>
    
        </div>
    </div>
    
</div>

<%- include("partials/footer.ejs") %>
