<%- include("partials/header.ejs") %>

<div class="contaner donate-container">
    <h1 class="m-auto"> Invest in Hope: Support SFI's Community Efforts </h1>
<div class="qr-image">

</div>
<div class="buttons">
<button class="green">UPI</button>
</div>
</div>
<%- include("partials/footer.ejs") %>
