<%- include("partials/header.ejs") %>
<div class="gallery">
    <div class="gbaner">
        <img src="./images/sfi-aliah-log.jpg" alt="">
    </div>
   <div class="imges" style="background-image: url('/images/karlmarks.jpg');"">
    <p>Image Title</p>
   </div>
  
  
  
</div>
<%- include("partials/footer.ejs") %>
