<%- include("partials/header.ejs") %>
<div class="gallery">
    <div class="gbaner">
        <img src="./images/sfi-aliah-log.jpg" alt="">
    </div>
   <div class="imges" style="background-image: url('/images/sfigaleery1.jpeg');"">
    <p>Image Title</p>
   </div>
   <div class="imges" style="background-image: url('/images/sfigaleery1.jpeg');"">
    <p>Image Title</p>
   </div>
   <div class="imges" style="background-image: url('/images/sfigaleery1.jpeg');"">
    <p>Image Title</p>
   </div>
   <div class="imges" style="background-image: url('/images/sfigaleery1.jpeg');"">
    <p>Image Title</p>
  
   </div>
   <div class="imges">
    <p>its just a demo i will conect the db to it letter</p>
  
   </div>
  
  
</div>
<%- include("partials/footer.ejs") %>
