<%- include("partials/header.ejs") %>

<div class="message container">  <p>
    Thaknks for Donating us.
    Our team review it and send confirm payment with your email .

</p>
</div>


<script>

    setTimeout(()=>{
        window.location.href = '/'; 

    },7000)

</script>
    <%- include("partials/footer.ejs") %>
